*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    width: 900px;
    max-width: 90vw;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
    position: relative;
}
body {
    height: 100vh;
    font-family: "Anton";
}
body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.egg {
    justify-content: center;
    display: flex;
    width: 500px;
    margin-top: 40px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.egg img{
    width: 500px;
    display: flex;
}
body {
    background-color: #f9f9f9;
    font: normal 1em / 1.5em BlinkMacSystemFont, -apple-system, 'Segoe UI', roboto, helvetica, arial, sans-serif;
 }
